<?xml version="1.0"?>
<launch>

  <param name="robot_description" textfile="$(find turtlebotmini)/urdf/turtlebotmini_cad.urdf" />

  <rosparam file="$(find turtlebotmini)/config/diff_drive_controller.yaml" command="load" />

  <node pkg="turtlebotmini" type="turtlebotmini_node" name="turtlebotmini_node"/>

  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        args="diff_drive_controller" />

</launch>
