<launch>

    <rosparam param="ticks_meter">6548</rosparam>

    <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
        <rosparam param="base_width">0.14</rosparam>
    </node>

    <node pkg="differential_drive" type="diff_tf.py" name="diff_to_tf">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base2lidar_broadcaster" args="0 0 0.25 0 0 0 base_link laser_frame 100" />

    <include file="$(find sweep_ros)/launch/sweep2scan.launch" />

    <include file="$(find minimapping)/launch/nav.launch" />

    <node name="joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

</launch>
